
/* .Nav-pok {
  display: flex;
  background-color: turquoise;
  height: 80px;
  text-align: left;
  justify-content: space-around;
} */

.App-logo {
  text-align: center;
  justify-content: center;
  height: 40px;
  pointer-events: none;

}
#list-names{
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.caught-pok{
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.fav-pok{
  text-align: center;
  justify-content: center;
  list-style: none;
}
.lst-pok{
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.Nav-list {
  background-color: yellowgreen;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: pink;
  font-style: italic;
  font-weight: bold;
  list-style: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
