.App {
  text-align: center;
}
.Nav-pok {
  display: flex;
  background-color: turquoise;
  height: 80px;

  justify-content: space-around;
 
}

.Nav-list  {
  display: flex; 
  text-align: center;
  list-style: none;
  justify-content: space-between;
  
  color: white
}
.Nav-list li{
  display: flex;
  margin: 20px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px
}
.App-logo {
  text-align: center;
  justify-content: center;
  height: 40px;
  pointer-events: none;

}

.Nav-list {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
